<h1>Create a New Article</h1>

<form (ngSubmit)="onSubmit()" #createArticle="ngForm">
  
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  
  <div>
    <label for="title">Title</label>
    <input [(ngModel)]="article.title" type="text" name="title" id="title">
    <div *ngIf="errors.title">{{errors.title.message}}</div>
  </div>

  <div>
    <label for="body">Body</label>
    <input [(ngModel)]="article.body" type="text" name="body" id="body">
    <div *ngIf="errors.body">{{errors.body.message}}</div>
  </div>
 
  <button type="submit">Submit</button>

</form>
